Source: gooroom-artwork-gnome-flashback
Section: gnome
Priority: optional
Maintainer: gooroom <gooroom@gooroom.kr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.gooroom.kr
Vcs-Git: https://github.com/gooroom/gooroom-artwork-gnome-flashback.git
Vcs-Browser: https://github.com/gooroom/gooroom-artwork-gnome-flashback

Package: gooroom-artwork-gnome-flashback
Architecture: all
Depends: libglib2.0-bin, gnome-panel-data,
         gooroom-dockbarx, gooroom-dockbarx-common, gooroom-dockbarx-dockx
Description: Default artwork for Gooroom Plaform 2.0
 Panel, schemas and all the artwork on Gooroom Plaform 2.0
